<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/assets/images/favicon.svg">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        <script src="https://kit.fontawesome.com/cab666c15a.js" crossorigin="anonymous"></script>
    </body>
</html>
