{% extends 'base.html.twig' %}

{% block title %}INTOPDF - Historique{% endblock %}

{% block body %}
    <div class="historique">
        <div class="container">
            <h1><span>Historique</span> de vos pages converti en <span>PDF</span></h1>
            {% if pdfs|length > 0 %}
                <div class="table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Lien</th>
                            <th>Date de création</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pdf in pdfs %}
                            <tr>
                                <td>{{ pdf.title }}</td>
                                <td><a href="{{ path('app_show_pdf', {id: pdf.id}) }}">Afficher le PDF</a></td>
                                <td>{{ pdf.createdAt|date('d/m/Y à H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>pas de pdf</p>
            {% endif %}
        </div>
    </div>
{% endblock %}